NOTitr_4.tmc
Halcmd.cc
Halcmd.dat
Halsrvr.o
Halsrvroui.c
Halsrvroui.o
Halcol.cc
tm.dac
Halcoloui.c
Halcoloui.o
Halcol.o
muxctrloui.c
muxctrloui.o
muxctrl.o
rfdoui.c
rfdoui.o
rfd.o
haldiagtbl.tmc
hddisp.cc
hddispoui.c
hddispoui.o
hddisp.o
haldiagtblnc.tmc
hddispnc.cc
hddispncoui.c
hddispncoui.o
hddispnc.o
dhtrtbl.tmc
dhdisp.cc
dhdispoui.c
dhdispoui.o
dhdisp.o
dhtrtblnc.tmc
dhdispnc.cc
dhdispncoui.c
dhdispncoui.o
dhdispnc.o
gasdiagtbl.tmc
gddisp.cc
gddispoui.c
gddispoui.o
gddisp.o
gasdiagtblnc.tmc
gddispnc.cc
gddispncoui.c
gddispncoui.o
gddispnc.o
Housekeepingtbl.tmc
hkdisp.cc
hkdispoui.c
hkdispoui.o
hkdisp.o
Housekeepingtblnc.tmc
hkdispnc.cc
hkdispncoui.c
hkdispncoui.o
hkdispnc.o
Hdoit.dep
Halfalgoa.tmc
Halfalgo.cc
Halfalgooui.c
Halfalgooui.o
Halfalgo.o
Halalgoa.tmc
Halalgo.cc
Halalgooui.c
Halalgooui.o
Halalgo.o
checkext.cc
checkextoui.c
checkextoui.o
checkext.o
Halclt.o
Halcltoui.c
Halcltoui.o
Halcltnc.o
Halcltncoui.c
Halcltncoui.o
Halengext.cdf
Halengextcdf.oui
Halengextcdf.tmc
Halengext.cc
Halengextoui.c
Halengextoui.o
Halengext.o
haldiagtbl.tmc.dep
haldiagtblnc.tmc.dep
dhtrtbl.tmc.dep
dhtrtblnc.tmc.dep
gasdiagtbl.tmc.dep
gasdiagtblnc.tmc.dep
Housekeepingtbl.tmc.dep
Housekeepingtblnc.tmc.dep
*.err
Makefile
Halsrvr
Halcol
muxctrl
rfd
Hal.sft
hddisp
hddispnc
dhdisp
dhdispnc
gddisp
gddispnc
hkdisp
hkdispnc
Hdoit
Halfalgo
Halalgo
checkext
Halclt
Halcltnc
Halengext
